projektowa_aplikacja/projektowa_aplikacja-war/web/WEB-INF/wsdl/localhost_8080/Dodawanie_hib/Dodawanie_hib.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sop/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sop/" name="Dodawanie_hib">
<types>
<xsd:schema>
<xsd:import namespace="http://sop/" schemaLocation="http://localhost:8080/Dodawanie_hib/Dodawanie_hib?xsd=1"/>
</xsd:schema>
</types>
<message name="getName">
<part name="parameters" element="tns:getName"/>
</message>
<message name="getNameResponse">
<part name="parameters" element="tns:getNameResponse"/>
</message>
<message name="getPath">
<part name="parameters" element="tns:getPath"/>
</message>
<message name="getPathResponse">
<part name="parameters" element="tns:getPathResponse"/>
</message>
<message name="getFileName">
<part name="parameters" element="tns:getFileName"/>
</message>
<message name="getFileNameResponse">
<part name="parameters" element="tns:getFileNameResponse"/>
</message>
<message name="getDate">
<part name="parameters" element="tns:getDate"/>
</message>
<message name="getDateResponse">
<part name="parameters" element="tns:getDateResponse"/>
</message>
<message name="setDate">
<part name="parameters" element="tns:setDate"/>
</message>
<message name="setFirstName">
<part name="parameters" element="tns:setFirstName"/>
</message>
<message name="setParamAll">
<part name="parameters" element="tns:setParamAll"/>
</message>
<message name="setFileName">
<part name="parameters" element="tns:setFileName"/>
</message>
<message name="setPath">
<part name="parameters" element="tns:setPath"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getid">
<part name="parameters" element="tns:getid"/>
</message>
<message name="getidResponse">
<part name="parameters" element="tns:getidResponse"/>
</message>
<message name="SetId">
<part name="parameters" element="tns:SetId"/>
</message>
<portType name="Dodawanie_hib">
<operation name="getName">
<input wsam:Action="http://sop/Dodawanie_hib/getNameRequest" message="tns:getName"/>
<output wsam:Action="http://sop/Dodawanie_hib/getNameResponse" message="tns:getNameResponse"/>
</operation>
<operation name="getPath">
<input wsam:Action="http://sop/Dodawanie_hib/getPathRequest" message="tns:getPath"/>
<output wsam:Action="http://sop/Dodawanie_hib/getPathResponse" message="tns:getPathResponse"/>
</operation>
<operation name="getFileName">
<input wsam:Action="http://sop/Dodawanie_hib/getFileNameRequest" message="tns:getFileName"/>
<output wsam:Action="http://sop/Dodawanie_hib/getFileNameResponse" message="tns:getFileNameResponse"/>
</operation>
<operation name="getDate">
<input wsam:Action="http://sop/Dodawanie_hib/getDateRequest" message="tns:getDate"/>
<output wsam:Action="http://sop/Dodawanie_hib/getDateResponse" message="tns:getDateResponse"/>
</operation>
<operation name="setDate">
<input wsam:Action="http://sop/Dodawanie_hib/setDate" message="tns:setDate"/>
</operation>
<operation name="setFirstName">
<input wsam:Action="http://sop/Dodawanie_hib/setFirstName" message="tns:setFirstName"/>
</operation>
<operation name="setParamAll">
<input wsam:Action="http://sop/Dodawanie_hib/setParamAll" message="tns:setParamAll"/>
</operation>
<operation name="setFileName">
<input wsam:Action="http://sop/Dodawanie_hib/setFileName" message="tns:setFileName"/>
</operation>
<operation name="setPath">
<input wsam:Action="http://sop/Dodawanie_hib/setPath" message="tns:setPath"/>
</operation>
<operation name="hello">
<input wsam:Action="http://sop/Dodawanie_hib/helloRequest" message="tns:hello"/>
<output wsam:Action="http://sop/Dodawanie_hib/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getid">
<input wsam:Action="http://sop/Dodawanie_hib/getidRequest" message="tns:getid"/>
<output wsam:Action="http://sop/Dodawanie_hib/getidResponse" message="tns:getidResponse"/>
</operation>
<operation name="SetId">
<input wsam:Action="http://sop/Dodawanie_hib/SetId" message="tns:SetId"/>
</operation>
</portType>
<binding name="Dodawanie_hibPortBinding" type="tns:Dodawanie_hib">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFileName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="setFirstName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="setParamAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="setFileName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="setPath">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SetId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="Dodawanie_hib">
<port name="Dodawanie_hibPort" binding="tns:Dodawanie_hibPortBinding">
<soap:address location="http://localhost:8080/Dodawanie_hib/Dodawanie_hib"/>
</port>
</service>
</definitions>